/* mobile first approach */

:root {
  --black: #0b0b0b;
  --white: #efefef;
}

body.light-mode {
  background-color: var(--white);
  color: var(--black);

  .generate-button {
    background-color: #fafbfc;
    border: 2px solid #24292e;
  }

  table {
    background-color: var(--black);
    text-align: center;
  }

  tbody {
    background-color: var(--white);
  }
}

td {
  padding: 3px;
}

body.dark-mode {
  background-color: var(--black);
  color: var(--white);

  .generate-button {
    background-color: var(--black);
    border: 2px solid var(--white);
    color: var(--white);
  }

  table {
    background-color: var(--white);
    text-align: center;
  }

  tbody {
    background-color: var(--black);
  }

  .footer p,
  a {
    color: #dddddd;
  }
}

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.app-title {
  font-size: 26px;
  text-align: center;
}

.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.input-fields input {
  text-align: center;
  font-size: 15px;
  padding: 5px;
}

.input-fields label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.input-fields select {
  padding: 5px;
  font-size: 15px;
}

.table-container {
  margin-bottom: 15px;
}

.table-title {
  text-align: center;
  font-size: 20px;
}

.vigenere-table {
  overflow-x: auto;
}

.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.output-innter-container {
  overflow: auto;
}

.output-title {
  font-size: 15px;
  font-weight: bold;
}

.output {
  font-size: 20px;
  margin: 0;
}

.generate-button {
  appearance: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  vertical-align: middle;
  margin: 7px 0;
}

.footer {
  bottom: 0;
}

.footer p,
a {
  font-size: 13px;
  color: #02021b;
  font-weight: 700;
}
